<nav style="background-color: #3a616e;">
  <div class="container-fluid">
      <div class="navbar-header">
        <ul class="nav navbar-nav">
          <li><img routerLink="/" src="../../../assets/images/pngtree-round-country-flag-morocco-png-image_4016736-removebg-preview.png" width="15%" height="15%" srcset="">
          </li>
          <li>
            <a class="navbar navbar-light bg-light" routerLink="/" style="margin-left: -180%;color: black;"> <b>INFRACTION-MAROC</b></a>
          </li>
        </ul>
      </div>
      <ul class="nav navbar-nav" style="margin-left: -15%;color: black;">
        <li><a href="#" style="color: black;" routerLink="/services">Services</a></li>
        <li><a href="#" style="color: black;" routerLink="/contact">Contact us</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/login" style="color: black;"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
  </div>
</nav>

