<div class="hero-image" >
  <div class="hero-text">
    <h1 style="width: 120%; font-size:50px;color: #6F6F6E;font-family: Serif, sans-serif;font-weight: 500;-webkit-text-stroke: 1px black;text-stroke: 1px black">Welcome to the Traffic Offenses Consultation Portal</h1>
    <h3 style="width: 120%;color: #B78D20;-webkit-text-stroke: 1px black;text-stroke: 1px black;"><b> The “ROAD OFFENSES” platform allows all Moroccan citizens, foreign residents in Morocco as well as foreign tourists driving a vehicle registered in Morocco, a simple and rapid consultation of possible offenses committed.</b></h3>
  </div>
</div>
